@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#451933,
            #280028,
            #2B124C,
            #522B5B,
            #854F6C) no-repeat;
}

.headerline {
    margin: 2vh 20vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    background-color: #2B124C;
    border-radius: 1vw;
    border: 0.2vw solid white;
    padding: 1vh 0.5vw;
}

.variantNavigation {
    border: 0.2vw solid transparent;
    display: flex;
    color: white;
    padding: 0.5vh 1vw;
}

.variantNavigation:hover {
    border: 0.2vw solid white;
    border-radius: 1vw;
    color: white;
}

.navigationIcon {
    margin-right: 0.5vw;
    height: 0.5vw;
}

.navImage {
    height: 1.7vw;
}

.navigationTitle {
    text-align: center;
    font-size: 1.3vw;
}