@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans";
    color: white;
    font-weight: bold;
}

.header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/Index/header/headerImage.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-left: 5vw;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5vw;
}

.titleImage {
    height: 40vh;
    width: 40vh;
}

.Logo {
    width: 40vh;
    height: 40vh;
}

.titleText {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 8vw;
    line-height: 1.2;
}

.headerText {
    margin-top: 5vh;
    padding-right: 50vw;
    font-size: 2.4vw;
    font-weight: 650;
}

.headerButton {
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
}

.headerBTN {
    background-color: white;
    border: 5px solid white;
    border-radius: 1vw;
    padding: 1vh 2vw;
    font-size: 2.4vw;
    color: #1B1016;
    font-weight: bold;
}

.headerBTN:hover {
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    padding: 1vh 2vw;
    font-size: 2.4vw;
    color: #1B1016;
}


.about {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#451933, #280028);
}

.generaleTitle {
    padding-top: 5vh;
    text-align: center;
    font-size: 5vw;
}

.aboutBody {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutImage {
    display: flex;
    align-items: center;
    width: 25vh;
    height: 25vh;
    margin: 2vh 0;
}

.ImageOfAbout {
    width: 25vh;
    height: 25vh;
}

.CentreText {
    text-align: center;
    font-size: 2vw;
}

.generaleButton {
    padding: 7vh 0 10vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
}

.generaleBTN {
    border: 0.4vw solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2vw;
    padding: 1vh 2vw;
    font-size: 2.4vw;
    color: white;
    display: flex;
    fill: white;
}


.btnText {
    text-align: center;
    font-weight: bold;
    line-height: 150%;
}

.btnImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

.ImageOfGeneralButton {
    width: 4vw;
    height: 4vw;   
}

.generaleBTN:hover {
    padding: 1.5vh 2.5vw;
    border: 0.4vw solid #522B5B;
    color: #522B5B;
    background-color: white;
    fill: #522B5B;
}

.artists {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#280128, #2B124C);
}

.artistsImages {
    display: flex;
    padding: 5vh 0vw;
    justify-content: space-evenly;
}

.ImageDown {
    margin-top: 10vh;
}

.ImageUp {}

.ImageOfArtist {
    width: 30vh;
    height: 30vh;
}

.tour {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#2B124C, #522B5B);
}

.tourImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImageOfTour {
    width: 60vw;
    height: 45vh;
}

.borts {
    padding: 5vh 0;
}

.suppurt {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#522B5B, #854F6C);
}

.supportBody {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
}

.feetback {
    display: flex;
    flex-direction: row;
}

.feedbackInput {
    flex-direction: column;
}

.feedbackFullImput {
    display: flex;
    flex-direction: column;
    border-radius: 3vh;
    background-color: #522B5B;
    height: 40vh;
    width: 35vw;
}


.feebackInputBoard {
    border-radius: 0 0 3vh 3vh;
    background-color: white;
    height: 40vh;
    width: 35vw;
    color: #522B5B;
    font-size: 1.5vw;
    padding: 1.2vw;
    line-height: 1.1vh;
}

.feedbackButton {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.feedbackBTN {
    background-color:#522B5B;
    border: 0.4vw solid #522B5B;
    border-radius: 1vw;
    padding: 0.5vh 1vw;
    font-weight: bold;
}

.feedbackBTN:hover{
    background-color: white;
    color: #522B5B;
}

.Bort{
    margin-bottom: 4vh;
}

.network {
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.networkIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.networkIcon {
padding: 0 1vw;
}

.ImageOfNetwork{
    width: 12vh;
    height: 12vh;
}