body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#2B124C, #522B5B);
}

.headerline {
    margin: 4vh 20vw;
    display: flex;
    justify-content: space-between;
}

.variantNavigation {
    border: 0.2vw solid transparent;
    display: flex;
    color: white;
    padding: 0.5vh 1vw;

}

.variantNavigation:hover{
    border: 0.2vw solid white;
    border-radius: 1vw;
    color: white;
}

.navigationIcon{
    margin-right: 0.5vw;
    height: 1vh;
}

.navImage{
    height: 2vw;
}

.navigationTitle {
    text-align: center;
    font-size: 1.5vw;
}

.formCreateOrder {
}

.InputDataAlignment {
}

.InputDataTitle {
}

.InputDataRow {
}

.InputDataDateNow {
}

.InputDataDateDash {
}

.InputDataDateNext {
}

