@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans";
    color: white;
}

.header {
    width:  100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/headerImage.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-left: 5vw;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5vw;
}

.titleImage {
height: 40vh;
width: 40vh;
}

.Logo{
    width: 40vh;
    height: 40vh;
}

.titleText {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1.2;
}

.headerText {
    margin-top: 5vh;
    padding-right: 50vw;
    font-size: 2.4vw;
    font-weight: 650;
}

.headerButton {
    margin-top: 13vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
}

.headerBTN {
    background-color: white;
    border-radius: 1vw;
    padding: 1vh 2vw;
    font-size: 2.4vw;
    color: #1B1016;
    font-weight: bold;
}

.headerBTN:hover {
    background-color: ;
    border-radius: 1vw;
    padding: 1vh 2vw;
    font-size: 2.4vw;
    color: #1B1016;
    font-weight: bold;
}


.about {
    background: linear-gradient(#451933, #280028);
}

.generaleTitle {}

.aboutBody {}

.aboutItem {}

.aboutImage {}

.CentreText {}

.generaleButton {}

.generaleBTN {}

.btnText {}

.btnImage {}

.artists {
    background: linear-gradient(#280128, #2B124C);
}

.artistsImages {}

.tour {
    background: linear-gradient(#2B124C, #522B5B);
}

.tourImage {}

.suppurt {
    background: linear-gradient(#522B5B, #854F6C);
}

.supportBody {}

.feetback {}

.feedbackInput {}

.feedbackImputTitle {}

.feebackInputBoard {}

.feedbackButton {}

.feedbackBTN {}

.network {}

.networkIcons {}

.networkIcon {}